
table {
    border-collapse: collapse;
}

.item {
    border-style: solid;
    border-width: 1px 0;
    border-color: gray;
    font-size: 18pt;
    padding: 10px 40px;
}

.col_header {
    color: red;
}

.row_header {
    color: blue;
}