<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <style>
    body {
      padding-top: 5rem;
    }
    .clickable-table-row {
      cursor: pointer;
    }
    </style>
    <title>Worker-Wrappers</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Worker-Wrappers</a>
    </nav>

    <main role="main" class="container">
      <h2>Best solutions</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Score</th>
            <th scope="col">Author</th>
            <th scope="col">When</th>
          </tr>
        </thead>
        <tbody>
          {% for problem in problems %}
            <tr class="table-row clickable-table-row" data-href="/details/{{ problem.problem_id }}">
              <td scope="row" class="text-right">{{ problem.problem_id }}</td>
              <td>{{ problem.description }}</td>
              <td class="text-right">{{ problem.score }}</td>
              <td>{{ problem.author }}</td>
              <td>{{ problem.created_at }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>How to submit</h2>
      <ul>
        <li><a href="/submit">Submit form</a></li>
        <li>from shell: <code>curl -X POST -d 'problem_id=[id]&amp;author=[name]&amp;solution=[text]&amp;boosters=[boosters]' http://icfpc.logicmachine.jp:5000/submit</code></li>
      </ul>

      <h2>Download</h2>
      <p><a class="btn btn-primary" href="/make-zip" role="button">Make submission archive</a></p>
    </main>

    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>
    <script src="/static/js/clickable_rows.js"></script>
  </body>
</html>
